@import 'femtocrank/style.css';


#drainIcons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 200px));
  max-width: calc(4*220px);
  grid-gap: 1em;
  justify-content: center;
}

button.neutral {
  background-color: #fff;
}

button:hover {
  background-color: #f0f0f0;
}

button.selected {
  background-color: #9aee9a;
}

button {
  display: inline-flex;
  align-items: center;
  gap: .25em;
  box-shadow: 0 0 6px #d2d2d2;
}

#copyParagraph {
  margin-top: 3em;
  text-align: center;
}

main {
  place-items: center;
  flex-direction: column;
  display: flex;
}
