doctype html

html
	head
		link(rel = 'stylesheet', type = 'text/css', href='main.css')
		link(rel = 'shortcut icon' type = "image/png" href = "icon.png")

		meta(name = "viewport" content = "width=device-width, initial-scale=1")

		script(async, src = "main.js")

		title spoon check

	body
		h1 spoon check

		template#entryForm
			div#emoji(role = "icon")
			label.title
				input(type = "spinner" min = "0" max = "5")
				span.desc no dec

			div#rateButtons(role = "toolbar")

		main

		div#ratings

		div.subtle An #[a(href = "https://github.com/jamesread/spoon-check") open source app] by #[a(href = "http://jread.com") James Read].
