doctype html

html(lang = "en")
	head
		link(rel = 'stylesheet', type = 'text/css', href='main.css')
		link(rel = 'shortcut icon' type = "image/png" href = "icon.png")
		link(rel = 'apple touch icon' type = "image/png" href = "icon.png")
		link(rel = 'manifest' href = 'spoon-check.webmanifest')

		meta(charset = "UTF-8")
		meta(name = "viewport" content = "width=device-width, initial-scale=1")
		meta(name = "theme-color" content = "#fffd7f")
		meta(name = "description" content = "A simple app that helps describes what is taking energy when words are hard.")

		title spoon-check

	body

		template#entryFormTemplate
			form#entryForm(title = "Spoon questionnaire" aria-live="assertive")
				h2#label(tabindex = 0)
				div#emoji(role = "img")

				div#rateButtons(role = "toolbar" tabindex = 0 aria-controls = "entryForm" title = "Rating buttons")

		header(title = "Page header")
			h1(#appTitle) spoon check
			p : Describe what is taking your energy, when words are hard.

		main(title = "Spoon questionnaire")
			div#drainIcons

			p#copyParagraph(hidden tabindex = 0) You can #[button#copyResults copy your results] to paste them somewhere.

		footer(title = "Page footer")
			p#pwaNote This page can be installed as an app, for quick offline access, from most modern browsers.

			ul
				li #[a(href = "https://en.m.wikipedia.org/wiki/Spoon_theory") What are spoons?]
				li |
				li A free #[a(href = "https://github.com/jamesread/spoon-check") open source app] by #[a(href = "http://jread.com") James Read].

		script(src = "main.js")
