doctype html

html
	head
		link(rel = 'stylesheet', type = 'text/css', href='main.css')
		link(rel = 'shortcut icon' type = "image/png" href = "icon.png")

		meta(name = "viewport" content = "width=device-width, initial-scale=1")

		script(async, src = "main.js")

		title spoon check

	body
		h1 spoon check

		template#entryForm
			h2#label
			div#emoji(role = "icon")

			div#rateButtons(role = "toolbar")

		main
			hr

			div#ratings
				h2 Your spoons...

		div.subtle An #[a(href = "https://github.com/jamesread/spoon-check") open source app] by #[a(href = "http://jread.com") James Read].
